*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #ffffff;
}

header {
	background-color: #F1F6F9;
    height: 605px;
    background-image: url(../cabeçalho.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 9%;
    margin-left: 10px;
    position: absolute;
    left: 0;
    top: 0;
    
}

nav {
    display: inline-block;
    text-align: right;
    list-style: none;
    padding: 10;
    width: 84%;
    margin: 5px 50px;
    margin-left: 20px;
    padding: 15px 10px;
    align-items: left;
    justify-content: space-between;    
    
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 5px;
    background-color: #003c79;
    border-radius: 30px;
    border-width: 100px;
    padding: 10px;
}

nav ul li a{
    display: block;
    padding: 2px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover{
    color: #59b3fd;
    content: "";
}


.styled-hr {
    border: 1px solid #d4d4d4;
    margin: 1px 0;
}

h1 {
    font-size: 34px;
    text-align: center;


}

h1[id="h1id1"] {
    margin-top: 80px;

}

h1[id="h1id2"] {
    margin-top: 80px;
    margin-bottom: 50px;

}

.descrição {
    text-align: justify;
    margin: 50px;
    margin-right: 127px;
    margin-left: 127px;
    margin-bottom: 50px;
    background-color: #f5fbff;
    padding: 20px;
    font-weight: 700;
    border-color: transparent;
    border-style: solid;
    line-height: 1.3;    
}   

.container {
    display: flex;
    justify-content: space-evenly;
    
}

.box1, .box2, .box3 {
    width: 350px;
    height: 500px;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px;
    padding: 50px;
    text-align: center;
}

.box1 img, 
.box2 img, 
.box3 img{
    width: 100%;
    height: 55%;
    margin-top: 40px;
}

.historia1, .historia2, .historia3 {
    background-color: #f5fbff;
    font-size: 16px;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    font-weight: bold;
    text-align: justify;
}

.comentario {
    color: #000000;
    font-size: 30px;
    font-family: 'Doare',Arial,sans-serif;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    background-position: center;
    border-color: transparent;
    border-style: solid;
    background-image: url(../bgcoment1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.comentario img {
    margin-right: 5px;
}

footer {
	background-color: #59b3fd;
	color: #fff;
	padding: 1px;
	text-align: center;
	margin-top:100px;
}

.social a{
    font-size: 30px;
    color: #f7f6f6;
    margin-right: 20px;
}

.social a:hover{
    color: #003c79;
}

/* media queries para tornar o CSS responsivo */

@media screen and (max-width: 768px) {
  /* ajuste da largura da navegação */
nav {
    width: 100%;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}

  /* alinha a navegação verticalmente */
nav ul {
    flex-direction: row;
    align-items: center;
    display: flexbox;
    justify-content: center;
    height: 100%;

}

  /* remove as margens e o padding das listas de navegação */
nav ul li {
    margin: 8px;
    padding: 0;
}

  /* ajusta a fonte da lista de navegação */
nav ul li a {
    font-size: 16px;
}

  /* ajusta o tamanho da imagem */
.images {
    width: 100%;
    height: auto;
    position:relative;
    margin-top: 170px;
}

  /* ajusta o tamanho da imagem dentro do container */
.images img {
    width: 90%;
    height: auto;
    margin-left: -25%;
    transform: translateX(-1%);
    transition: bottom 1s, left 1s;
    }
}