* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #ffffff;
}

header { /* cabeçalho */
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    z-index: 9999;
    padding: 0;
}

.logo {
    width: 80px;
    padding: 0;
    margin-bottom: 2px;
}

.userAndLogout {
    display: flex;
    align-items: flex-end;
    margin-right: 2px;
}

.listHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {  /* botões */
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-left: 5px;
    border-radius: 30px;
    padding: 10px;
    display: inline-block; /* Adicionado para alinhar os botões lado a lado */
}

nav ul li a {
    display: block;
    padding: 2px;
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-weight: bold;
}

nav ul li a:hover {
    color: #59b3fd;
    text-decoration: none;
}

.styled-hr {
    border: 1px solid #d4d4d4;
    margin: 1px 0;
}

.container1 {
    margin-top: 100px;
}

#container {
    width: 90vw;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.allActions {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.box1 {
    width: 400px;
    height: 580px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    transition: 0.5s;
}

.box1:hover {
    transform: scale(1.015);
    transition: 0.5s; 
}

.historia1 {
    width: 90%;
    height: 120px;
    text-align: center;
    margin-top: 20px;
}

.titleAction {
    margin-top: 10px;
}

.imgAction {
    width: 80%;
    height: 200px;
    border-radius: 6px;
    border-bottom: 6px solid #003468;
    margin-top: 30px;
}

.buttonsActions {
    margin-top: 30px;
}

.responsavel {
    margin-top: 10px;
}

.donationNow {
    margin-top: 20px;
    text-decoration: none;
    border: 2px solid #003468;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #68bdd8;
    border-radius: 6px;
    color: #003468;
}

.donationNow:hover {
    border: 2px solid #003468;
    background-color: #003468;
    color: #68bdd8;
    text-decoration: none;
}

footer {
	background-color: #59b3fd;
	color: #fff;
	padding: 1px;
	text-align: center;
	margin-top:100px;
}

.social a{
    font-size: 30px;
    color: #f7f6f6;
    margin-right: 20px;
}

.social a:hover{
    color: #003c79;
}

@media (max-width: 425px) {
    .box1 {
        width: 300px;
        height: 580px;
    }
}

@media (max-width: 320px) {
    .box1 {
        width: 300px;
        height: 580px;
    }

    .historia1 {
        width: 90%;
        height: 120px;
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
    }
}