* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header { /* cabeçalho */
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    z-index: 9999;
    padding: 0;
}

.logo {
    width: 80px;
    padding: 0;
    margin-bottom: 2px;
}

.userAndLogout {
    display: flex;
    align-items: flex-end;
    margin-right: 2px;
}

.listHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {  /* botões */
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-left: 5px;
    border-radius: 30px;
    padding: 10px;
    display: inline-block; /* Adicionado para alinhar os botões lado a lado */
}

nav ul li a {
    display: block;
    padding: 2px;
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-weight: bold;
}

nav ul li a:hover {
    color: #59b3fd;
    text-decoration: none;
}

.styled-hr {
    border: 1px solid #d4d4d4;
    margin: 1px 0;
}

main {
    min-height: 100vh;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

footer {
	background-color: #59b3fd;
	color: #fff;
	padding: 1px;
	text-align: center;
	margin-top: 100px;
}

.social a{
    font-size: 30px;
    color: #f7f6f6;
    margin-right: 20px;
}

.social a:hover{
    color: #003c79;
}