* {
    box-sizing: border-box;
}

body {
    background-image: url('../images/backgrounds/bglogin.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

.card {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
}

.card img {
    display: block;
    margin: 0 auto;
    width: 150px;
}

.card-title {
    text-align: center;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary,
.btn-secondary {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 3px;
}

.backToIndex {
    text-decoration: none;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    margin-top: 5px;
}

.form-card {
    display: none;
}

.form-card.show {
    display: block;
}

.hidden {
    display: none;
}

@media (max-width: 515px) {
    .card {
        margin: auto;
    }
}