.container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
  }
  
body{

    display: flex;
    justify-content: end;
    margin-top: 150px;
    margin-right: 100px;
    flex-direction: column;
}

.logo{

    width: 200px;
}

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  